<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<!-- bundle identifier -->
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>

	<!-- bundle version -->
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>

	<!-- minimum system version -->
	<key>LSMinimumSystemVersion</key>
	<string>12.0</string>

	<!-- keyboard and mouse action monitor privileges -->
	<key>NSAccessibilityUsageDescription</key>
	<string>Used to automatically insert the translation result into the input field</string>
	
	<!-- keychain access description -->
	<key>NSKeychainUsageDescription</key>
	<string>Used to securely store your authentication token and user information</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>

	<!-- login call back scheme -->
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>ai.glotera.desktop</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>glotera</string>
			</array>
		</dict>
	</array>

	<!-- Sparkle Update Configuration -->
	<!-- SUFeedURL is provided programmatically via SPUUpdaterDelegate.feedURLString(for:) -->
	<key>SUPublicEDKey</key>
    <string>SxSMwjBUazcaJ33S7nBAp9uhpmQ3X29UZHOx1jB+MMI=</string>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUShowReleaseNotes</key>
	<true/>
	<key>SUFeedURLForChannel</key>
	<dict>
		<key>beta</key>
		<string>http://localhost:1145/api/appcast.xml?channel=beta</string>
	</dict>
</dict>
</plist>
